<!-- LISTA PRODOTTI -->

<br>

  <h1 style="text-align: center; font-size: 2.5em;"><b>Lista Prodotti</b></h1>
  <br>

  <div
    style="display: flex; flex-flow: row wrap; justify-content: space-between; margin-left: 20em; margin-top: 0.2em; margin-right: 20em; font-family:Arial, Helvetica, sans-serif;">
    <div *ngFor="let prodotto of prodotti" class="card"
      style="width: 16rem; padding: 1em; padding-bottom: 0; margin-bottom: 2em;">
      <img [src]="prodotto.immagine" class="card-img-top" style="height: 300px; width: 226px;" alt="iPhone">
      <div class="card-body">
        <div class="d-flex">
          <h3 class="card-title"><b>{{ prodotto.nome }}</b></h3>
          <p *ngIf=prodotto.new style="color: red; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';">
            <b><sup style="font-size: 12px;">&nbsp;New</sup></b>
          </p>
        </div>

        <p class="card-text">Apple {{ prodotto.nome }} <br> {{ prodotto.descrizione }}</p>
        <p class="card-text"><b>{{ prodotto.prezzo | currency:'EUR'}}</b></p>
        <a (click)="onClick(prodotto)" class="btn btn-primary" style="margin-left: 14px;">Aggiungi al Carrello</a>
      </div>
    </div>
  </div>
