
<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="text-left logo p-2 px-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-box-seam-fill"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003 6.97 2.789ZM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461L10.404 2Z" />
          </svg>
        </div>
        <div class="invoice p-4">
          <span class="font-weight-bold d-block mt-4">Ciao {{ pagamento.firstName }} {{ pagamento.lastName }}</span>
          <span>Il tuo ordine è stato confermato e sarà spedito entro due giorni lavorativi</span>

          <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

            <table class="table table-borderless">

              <tbody>
                <tr>
                  <td>
                    <div class="py-2">

                      <span class="d-block text-muted">Data dell'ordine</span>
                      <span>{{ data | date }}</span>

                    </div>
                  </td>


                  <td>
                    <div class="py-2">

                      <span class="d-block text-muted">Indirizzo di Fatturazione</span>
                      <span>{{ pagamento.address }} {{ pagamento.zip }}</span>

                    </div>
                  </td>
                </tr>
              </tbody>

            </table>





          </div>




          <div class="product border-bottom table-responsive">

            <table class="table table-borderless">

              <tbody>
                <tr *ngFor="let prod of carrelloProdotti">
                  <td width="20%">

                    <img [src]="prod.immagine" width="90">

                  </td>

                  <td width="60%">
                    <span class="font-weight-bold">{{ prod.nome }}</span>
                  </td>

                  <td width="20%">
                    <div class="text-right">
                      <span class="font-weight-bold">{{ prod.prezzo | currency: 'EUR'}}</span>
                    </div>
                  </td>
                </tr>
              </tbody>

            </table>



          </div>



          <div class="row d-flex justify-content-end">

            <div class="col-md-5">

              <table class="table table-borderless">

                <tbody class="totals">

                  <tr class="border-top border-bottom">
                    <td>
                      <div class="text-left">

                        <span class="font-weight-bold">Totale</span>

                      </div>
                    </td>
                    <td>
                      <div class="text-right">
                        <span class="font-weight-bold">{{ sommaCarrello | currency: 'EUR' }}</span>
                      </div>
                    </td>
                  </tr>

                </tbody>

              </table>

            </div>



          </div>

          <p class="font-weight-bold mb-0">Grazie per aver comprato da noi!</p>

        </div>


      </div>

    </div>

  </div>

</div>
